{% extends 'base.html' %}

{% block title %}
    <title>Forgot Password</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Reset your password</h1>
    {% for message in get_flashed_messages() %}

    {{ message }}

    {% endfor %}
    <form action="/reset-password" method="POST">
        <div class="mb-3">
            <label for="exampleInputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp" name="username">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">New Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password_hash">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="password_hash2">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div id="loginHelp" class="form-text mt-3">
       <a href="/">Register</a> || 
       <a href="/forgot-password">Forgot Password</a>
         </div>
      </form>
</div>
{% endblock %}