{% extends 'base.html' %}

{% block title %}
    <title>HomePage</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Register an acount</h1>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="exampleInputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputUsername" name="username">
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password_hash">
          <div id="passwordHelp" class="form-text">Your password must consist of; At least 1 Uppercase, Lowercase, Number, Special Character and min 8 Characters
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <div id="loginHelp" class="form-text mt-3">
            <p>Already have an account? <a href="/login">Login</a></p>
         </div>
      </form>

{% endblock %}
```